*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

.container{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container .box{
    /* background-color: #161B33; */
    background-image: url(https://images.unsplash.com/photo-1460186136353-977e9d6085a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    padding: 25vh;
    border: solid 2px #161B33;
}

.container .input{
    width: 30vh;
    margin: 15px 0 ;
}

.container .btnAction{
    cursor: pointer;
    border: none;

    padding: 10px;
    border-radius: 5px;
    
    color: white;
    background-color: #161B33;
    outline: none;
}